@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --expense: #c0392b;
  --income: #2ecc71;

}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-weight: 500;
}

h3 {
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #bbb;
}

h4 {
  font-weight: 500;
}

label {
  display: block;
  margin: 10px 0;
}

.container {
  width: 350px;
  /* border: 1px solid black; */
  margin: 1.3rem 0;
}

.inc-exp {
  margin: 1rem 0 1.2rem 0;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  display: flex;
  /* justify-content: space-between; */
}

.inc-exp > div {
  flex: 1;
  text-align: center;
}

.inc-exp div:first-child {
  border-right: 1px solid #dedede;
}

li.income {
  border-right: 4px solid var(--income);
}

li.expense {
  border-right: 4px solid var(--expense);
}

.income {
  color: #2ecc71;
  margin-top: 0.3rem;
}

.expense {
  color: #c0392b;
  margin-top: 0.3rem;
}

.transaction-list {
  list-style-type: none;
}

.transaction-list li {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: white;
  background-color: #9c88ff;
  border: none;
  cursor: pointer;
}

form input {
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 2px;
  width: 100%;
  font-size: 1rem;
}